/*
Colors used
Background Color (Pastel Purple): #e0e0ff
Text Color (Dark Purple): #382b64;
UNUSED: Alt Text Color (Magic Purple):  #7b64c0;
Link Color (Green): #357b70
Link Color VISITED (Green DARKER): #05676e
Link Color ACTIVE (Green LIGHTER): #489c79
UNUSED: Default Button Color (Mustard): #e0b354;
UNUSED: Secondary Button Color (Orange): #ffa448
Border Color (Orange): #ff8542
Grid Color (Light Blue): #a2d2ff
Animation fill yellow: #fcffad;
Animation fill orange: #f7732b;
Animation fill red: #f73f1f;
*/

/* /////STYLES///// */
:root {
  --bgcolor: #e0e0ff;
  --textcolor: #382b64;
  --linkcolor: #357b70;
  --linkcolor2: #489c79;
  --bordercolor: #ff8542;
  --grid-color: #a2d2ff;
  --animationfill: #fcffad;
  --animationfill2: #f7732b;
  --animationfill3: #f73f1f;
  --font: "Bitter", serif;
  --weight: 700;
}

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin: 20px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: var(--weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--weight);
}

/* /////LINKS///// */
a,
a:active {
  color: var(--linkcolor);
}

a:visited {
  color: var(--linkcolor2);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* /////HEADER///// */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 8px solid var(--bordercolor);
}

.page-header__item {
  flex: 0 1 250px;
  font-size: 22px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* /////NAVIGATION///// */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* /////HOME PAGE///// */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* //////ABOUT PAGE///// */
button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--linkcolor);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/*
.button__secondary {
  background-color: #FFA448;
  color: #2b2b2b;
}
*/

/* /////WORK PAGE///// */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-color);
}

/* /////CONTACT PAGE///// */

.standard-label {
  margin-right: 10px;
}

.info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  padding: 10px;
}

#contact-form {
  padding: 9px;
  width: 200px;
  text-align: left;
}

/* /////FOOTER///// */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* /////ANIMATIONS///// */
@keyframes color-change {
  0% {
    fill: var(--animationfill);
  }

  50% {
    fill: var(--animationfill2);
  }

  100% {
    fill: var(--animationfill3);
  }
}

.sun {
  animation: 5s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 32s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* /////MEDIA QUERIES///// */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
